<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script type="service.js"></script>
	<script src="main.js"></script>

<body ng-app="app" ng-controller="ctrlMain" ng-init="myFuncion()">

	<div ng-repeat="data in informacion.data" class="col-md-11 cls-border ">
		<div class="col-md-4">
			<!-- <img src="https://casacolombiana.com/{{data.fotografia}}" class="img-responsive"> -->
		</div>
		<div class="col-md-8">
			<br> {{data.Codigo}} <br>
			<br> {{data.descripcion}} <br>
			<br> {{data.unidad}} <br>
			<br> {{data.PorcImpuesto}} <br>
			<br> {{data.Precio}}</br>
		</div>
	</div>

</body>
</html>